.container {
    font-family: 'Open Sans', sans-serif;
}

/*HEADER STYLING*/
.header {
    background-color: #5e5e5e;
    height: 60px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.login-form {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0;
    top: 0;
    width: 400px;
    height: 100vh;
    background-color: #f7f7f7;
    padding: 20px;
}

/*CARDS CONTAINER STYLING*/

.cardio {
    border-left: 5px solid brown;
}

.card {
    background-color: #f7f7f7;
    border-radius: 5px;
    /*overflow: hidden;*/
}



.card__doctor {
    font-weight: 800;
    font-size: 16px;
}

.card__fio {
    font-weight: 800;
    font-size: 16px;
    color: grey;
    padding: 10px;
}

.cards-container {
    background-color: #ECECEC;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
}

.cards-container__open {
    /*background-color: beige;*/
    width: 50%;
    border-right: 1px solid #909090;
    padding: 20px;
    box-sizing: border-box;
}

